
<div class="rightdiv">
  <% if flash[:alert] %>
  <div class="alertbox">
    <span class="alerttext"><%= flash[:alert] %></span>
    <%flash[:alert]=nil%>
  </div>
  <% else%>
  <%=form_for("show" ,:url=> employee_modify_path) do |f|%>

  <table class="fix">

    <thead>

      <th colspan = "2"><%=f.label :Leave_Entry %></th>

    </thead>

    <col width="30%">

    <col width="70%">

    <tr>
      <td><%=f.label :Name %></td>
      <td><%=f.text_field :empLeave,name: 'empLeave',:value => @empl.name,:required => true, :class => "textbox",:disabled=>true %></td>
    </tr>

    <tr>
      <td><%=f.label :From %></td>
      <td><%=f.text_field(:leavef,name: 'leavef' ,:value => @empl.dfrom,:required => true, :class => "textbox",id:"leavef") %></td>
    </tr>

    <tr>
      <td><%=f.label :To %></td>
      <td><%= f.text_field(:leavet,name: 'leavet' ,:value => @empl.dto,:required => true, :class => "textbox",id:"leavet") %></td>
    </tr>

    <tr>
      <td><%=f.label :Reason %></td>
      <td><%= f.text_area :message,name:'message', size: "24x6" ,:value => @empl.reason,:required => true, :class => "textbox1"%></td>
      <%=f.hidden_field :id,  name: 'id',:value => @empl.id,:required => true %>
    </tr>

    <tr>
      <td></td><td style="display:inline-block">
        <%=f.submit "Update",:name => 'update', :class=>"button", :style=>"margin-left:0px;"%>&nbsp;
      </tr>

    </table>

    <%end%>
    <%end%>
  </div>

  <style>

  tr,td {

    border:0

  }

  table {

    width: 50%;
    margin-left: 300px;
    margin-top: 100px;

  }

  </style>

</div>
<script type="text/javascript">
$(document).ready(function(){
  $('#leavef').datepicker({
    format: 'dd M yyyy',
    autoclose: true,
    minDate: 0,
    onSelect: function(selected) {
      console.log(selected)
      $("#leavet").datepicker("option","minDate", selected);
    }
  });

  $('#leavet').datepicker({
    format: 'dd M yyyy',
    autoclose: true,
    onSelect: function(selected) {
      console.log(selected)
      $("#leavef").datepicker("option","maxDate", selected);
    }
  });

})

</script>
