
<div class="rightdiv">
  <% if flash[:alert] %>
  <div class="alertbox">
    <span class="alerttext"><%= flash[:alert] %></span>
    <%flash[:alert]=nil%>
  </div>
  <% else%>

  <div style="float:right; padding:10px;" >

    <%= button_to 'New', employee_show_path, :class=>"button" %>

  </div>

  <%= form_for('index') do |f|%>
  <%if(@employees.length==0)%>
  <h2 style="margin:10px;padding:10px">No Leave Entries</h2>
  <%else%>
  <table>

    <thead>

      <th>Serial No</th>
      <th>Employee Name</th>
      <th>From</th>
      <th>To</th>
      <th>Reason</th>

    </thead>

    <%@employees.each do |emp|%>

    <tr>

      <td>
        <%= radio_button_tag :id,"#{emp.id}" ,checked="checked" %>
        <%=emp.id%></td>
        <td><%=emp.name%></td>
        <td><%=emp.dfrom%></td>
        <td><%=emp.dto%></td>
        <td><%=emp.reason%></td>

      </tr>

      <%end%>

      <div style="margin-left:875px;padding:10px">
        <%= f.button 'Edit',:url => employee_edit_path,:class=>"button",:name=>"edit" %>
        <%= f.button 'Delete',:url => employee_index_path, :class=>"button",:name=>"delete"%></td>
      </div>

    </table>
    <%end%>
    <%end%>
    <%end%>

  </div>
