
<div class="rightdiv">
  <%=form_for("show") do |f|%>
  <table class="fix">

    <thead>

      <th colspan = "2"><%=f.label :Leave_Entry %></th>

    </thead>

    <col width="30%">

    <col width="70%">

    <tr>
      <td><%=f.label :Name %></td>
      <td><%=f.text_field :empLeave,  name: 'empLeave' ,data: {autocomplete_source: employee_retrieve_path,method: :get} , :required => true, :class => "textbox" %></td>
    </tr>

    <tr>
      <td><%=f.label :From %></td>
      <td><%= f.text_field(:leavef,name: 'leavef' ,:required => true, :class => "textbox",id:"leavef") %></td>
    </tr>

    <tr>
      <td><%=f.label :To %></td>
      <td><%= f.text_field(:leavet,name: 'leavet' ,:required => true, :class => "textbox",id:"leavet") %></td>
    </tr>

    <tr>
      <td><%=f.label :Reason %></td>
      <td><%= f.text_area :message,name:'message', size: "24x6" ,:required => true, :class => "textbox1"%></td>
    </tr>

    <tr>
      <% if flash[:alert] %>
      <td colspan="2">
        <span style="color:red;margin-left:135px"><%= flash[:alert] %></span>
        <%flash[:alert]=nil%></td>
        <%end%>
      </tr>
      <tr>
        <td></td><td style="display:inline-block"><%=f.submit "Submit",:name => 'save', :class=>"button", :style=>"margin-left:0px;"%>&nbsp;
          <button type="reset" value="Reset" class="button">Reset</button>
        </td>
      </tr>

    </table>



    <%end%>
  </div>
  <style>
  tr,td {
    border:0
  }
  table {
    width: 50%;
    margin-left: 300px;
    margin-top: 100px;
  }
  </style>

</div>
<script type="text/javascript">
$(document).ready(function(){
  $('#leavef').datepicker({
    format: 'dd M yyyy',
    autoclose: true,
    minDate: 0,
    onSelect: function(selected) {
      console.log(selected)
      $("#leavet").datepicker("option","minDate", selected);
    }
  });

  $('#leavet').datepicker({
    format: 'dd M yyyy',
    autoclose: true,
    onSelect: function(selected) {
      console.log(selected)
      $("#leavef").datepicker("option","maxDate", selected);
    }
  });

})

</script>
