<div class="rightdiv">

  <div class="authform"  style="max-width:500px">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <% if @minimum_password_length && request.method_symbol=="post" %>
    <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    <table>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.email_field :email, autofocus: true,:class=>"textbox" %></td>
      </tr>
      <tr>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password, autocomplete: "off" ,:class=>"textbox"%></td>
      </tr>

      <tr>
        <td><%= f.label :password_confirmation %></td>
        <td><%= f.password_field :password_confirmation, autocomplete: "off" ,:class=>"textbox"%></td>
      </tr>
      <tr>
        <td><%= f.label :current_password %></td>
        <td><%= f.password_field :current_password, autocomplete: "off" ,:class=>"textbox"%></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Update" ,:class=>"button",:style=>"margin-left:0px;height:30px;padding-top:4px"%>
          <%= link_to "Cancel", root_path,:class=>"button",:style=>"text-decoration:none;margin-left:15px"%>
        </td>
      </tr>

    </table>
    <% end %>
  </div>


</div>
<style media="screen">
tr,td,table {
  border:0
}
</style>
