<head>
<style media="screen">
table ,td,tr{
  border:1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>
  <p style="text-align:centre"><b>Redmine Users Log Time - <%=Date.today.to_s%></b></p>
  <table>
    <tr>
      <thead style="font-weight:bold">
        <td>Name</td>
        <td>Total Time Spent</td>
        <td>Issues Id</td>
        <td>Issues Time Spent</td>
      </thead>
    </tr>
    <%  @users.each do |ss|%>
    <%  @timeentries=TimeEntries.find(:all, :params => { :spent_on => @current_date, :user_id =>ss['id']})%>
    <%@timeentriesjson =  @timeentries.to_json%>
    <%@timeentriesjsons = JSON.parse(@timeentriesjson)%>
    <%@lent=@timeentriesjsons.length%>
    <%i=0%>
    <%if @lent!=0%>
    <%@total_time_spent=0%>
    <%@logflag=0%>
    <%@timeentriesjsons.each do%>
    <%@total_time_spent+=@timeentriesjsons[i]['hours']%>
    <% i+=1 %>
    <%end%>
    <%if @total_time_spent < Toolsdb.find(5).password.to_f%>
    <%@logflag=1%>
    <%end%>
    <%i=0%>
    <%if @logflag==1%>
    <tr>

      <td rowspan="<%=@lent%>"><b><%=ss['firstname']+" "+ss['lastname']%></b></td>
      <td rowspan="<%=@lent%>"><b><%=@total_time_spent%></b></td>
      <%@timeentriesjsons.each do%>
      <td><b><a href="http://192.168.1.121/issues/<%=@timeentriesjsons[i]['issue']['id']%>"><%="#"+@timeentriesjsons[i]['issue']['id'].to_s%></a></b></td>
      <td><b><%=@timeentriesjsons[i]['hours'].to_s%></b></td>
    </tr>
    <% i+=1 %>
    <%end%>
    <%else%>
    <tr>

      <td rowspan="<%=@lent%>"><%=ss['firstname']+" "+ss['lastname']%></td>
      <td rowspan="<%=@lent%>"><%=@total_time_spent%></td>
      <%@timeentriesjsons.each do%>
      <td><a href="http://192.168.1.121/issues/<%=@timeentriesjsons[i]['issue']['id']%>"><%="#"+@timeentriesjsons[i]['issue']['id'].to_s%></a></td>
      <td><%=@timeentriesjsons[i]['hours'].to_s%></td>
    </tr>
    <% i+=1 %>
    <%end%>
    <%end%>
    <%end%>
    <%end%>


    <%@unloggedusers.each do |unlogged|%>
    <%if unlogged[2]!=nil && unlogged[3]!=nil%>
    <tr>
      <td style="color:#ff0000"><%=unlogged[2]+" "+unlogged[3]%></td>
      <td style="color:#ff0000">0</td>
      <td style="color:#ff0000">0</td>
      <td style="color:#ff0000">0</td>
    </tr>
    <%end%>
    <%end%>


    <%@holidayUsers.each do |husers|%>
    <%if husers[0]!=nil && husers[1]!=nil%>
    <tr>
      <td><%=husers[0]+" "+husers[1]%></td>
      <td>On Leave</td>
      <td></td>
      <td></td>

    </tr>
    <%end%>
    <%end%>


  </table>
</body>
