<div class="rightdiv">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <% if flash[:alert] %>
  <div class="alertbox">
    <span class="alerttext"><%= flash[:alert] %></span>
    <%flash[:alert]=nil%>
  </div>
  <% else%>
  <ul id="tab" class="nav nav-tabs" style="padding:30px 0px 0px 30px">
    <li id="tred" class="active"><a data-toggle="tab"  href="#red">Redmine</a></li>
    <li id="tcdgo"><a data-toggle="tab" href="#go">GoCD</a></li>
    <li id="tbb"><a data-toggle="tab" href="#bit">BitBucket</a></li>
  </ul>


  <div class="tab-content authform">
    <div id="red" class="tab-pane fade in active">
      <%= form_for('Changepass') do |f|%>
      <% if flash[:alert] %>

      <div style="margin-left:100px;color:red"><%= flash[:alert] %></div>
      <% end %>
      <table >
        <tr>
          <td><%= f.label :User_Name %></td>
          <td><%= f.text_field :user ,:class=>"textbox",:required => true%></td>
        </tr>
        <tr>
          <td><%= f.label :Current_Password %></td>
          <td><%= f.password_field :cupass ,:class=>"textbox",:required => true%></td>
        </tr>
        <tr>
          <td><%= f.label :New_Password %></td>
          <td><%= f.password_field :npass ,:class=>"textbox",:required => true%></td>
        </tr>
        <tr>
          <td><%= f.label :Confirm_Password %></td>
          <td><%= f.password_field :cnpass ,:class=>"textbox",:required => true%></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "Submit" ,:name=>"redmine",:class=>"button",:style=>"margin-left:0px" %>
            <button type="reset" value="Reset" style="margin-left:20px" class="button">Reset</button>
          </td>
        </tr>
      </table>
      <%end%>
    </div>
    <div id="go" class="tab-pane fade">
      <%= form_for('Changepass') do |f|%>
      <% if flash[:alert1] %>
      <script>
      $("#tred").removeClass("active");
      $("#tcdgo").addClass("active");
      $("#red").removeClass("in active");
      $("#go").addClass("in active");
      </script>
      <div style="margin-left:100px;color:red"><%= flash[:alert1] %></div>
      <% end %>
      <table >
        <tr>
          <td><%= f.label :User_Name %></td>
          <td><%= f.text_field :user ,:class=>"textbox",:required => true%></td>
        </tr>
        <tr>
          <td><%= f.label :Current_Password %></td>
          <td><%= f.password_field :cupass ,:class=>"textbox",:required => true%></td>
        </tr>
        <tr>
          <td><%= f.label :New_Password %></td>
          <td><%= f.password_field :npass ,:class=>"textbox",:required => true%></td>
        </tr>
        <tr>
          <td><%= f.label :Confirm_Password %></td>
          <td><%= f.password_field :cnpass ,:class=>"textbox",:required => true%></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "Submit",:name=>"cdgo",:class=>"button",:style=>"margin-left:0px"%>
            <button type="reset" value="Reset" style="margin-left:20px" class="button">Reset</button>
          </td>
        </tr>
      </table>
      <%end%>
    </div>



    <div id="bit" class="tab-pane fade">
      <%= form_for('Changepass') do |f|%>
      <div id="bd" style="margin-left:100px;color:red;"><%= flash[:alert2] %></div>
      <% if flash[:alert2] %>
      <script>
      $("#tred").removeClass("active");
      $("#tbb").addClass("active");
      $("#red").removeClass("in active");
      $("#bit").addClass("in active");
      </script>
      <% end %>
      <table >
        <tr>
          <td><%= f.label :User_Name %></td>
          <td><%= f.text_field :user ,:class=>"textbox",:required => true%></td>
        </tr>
        <tr>
          <td><%= f.label :Current_Password %></td>
          <td><%= f.password_field :cupass ,:class=>"textbox",:required => true%></td>
        </tr>
        <tr>
          <td><%= f.label :New_Password %></td>
          <td><%= f.password_field :npass ,:class=>"textbox",:required => true%></td>
        </tr>
        <tr>
          <td><%= f.label :Confirm_Password %></td>
          <td><%= f.password_field :cnpass ,:class=>"textbox",:required => true%></td>
        </tr>
        <tr>
          <td></td>
          <td><%= f.submit "Submit",:name=>"bb",:class=>"button",:style=>"margin-left:0px"%>
            <button type="reset" value="Reset" style="margin-left:20px" class="button">Reset</button>
          </td>
        </tr>
      </table>
      <%end%>
    </div>

  </div>
  <%end%>
</div>
<style media="screen">
tr,td,table {
  border:0
  }  </style>
