<div class="rightdiv">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <% if flash[:alert] %>
  <div class="alertbox">
    <span class="alerttext"><%= flash[:alert] %></span>
    <%flash[:alert]=nil%>
  </div>
  <% else%>
  <ul id="tab" class="nav nav-tabs" style="padding:30px 0px 0px 30px">
    <li id="tred" class="active"><a data-toggle="tab"  href="#stagf">Stagnated Days</a></li>
    <li id="tcdgo"><a data-toggle="tab" href="#mailf">Log Hours</a></li>
  </ul>
  

  <div class="tab-content authform">
    <div id="stagf" class="tab-pane fade in active">
      <%= form_for('stagnated_days') do |f|%>
      <%= f.label :Stagnated__Days, value: "No. of days",:style=>"font-size:20px;color:#384d8c"%>
      <%= f.number_field :number,name: 'stagnated_days',:class=>"textbox",:required => true%>
      <%= f.submit :stagnated_days,name: "stagnated_days",id:"button", value: "Add",:class=>"button", :style => "margin:15px 0 0 280px"%>
      <div id="hidden_input"></div>
      <% end%>
    </div>
    <div id="mailf" class="tab-pane fade">
      <%= form_for('log_hours') do |f|%>
      <%= f.label :loghour, value: "Log Hours",:style=>"font-size:20px;color:#384d8c;margin-left:65px"%>
      <%= f.number_field :number,name: 'logt_hours',:class=>"textbox",:required => true%>
      <%= f.submit :log_hours,name: "logged_hours",id:"button1", value: "Add",:class=>"button", :style => "margin:15px 0 0 280px"%>
      <div id="hidden_input"></div>
      <% end%>
    </div>
  </div>
  <%end%>
</div>
<script>
$(document).ready(function(){
  var hiddenInput1;
  var hiddenInput;

  $('#button').click(function(){
    hiddenInput1 = $('#stagnated_days_number').val();
    //alert(hiddenInput1);
    hiddenInput = $('<input/>',{type:'hidden',id:this.value, name:'stagnated_days', value:hiddenInput1});
    $("#hidden_input").append(hiddenInput);
  });
  $('#button1').click(function(){
    hiddenInput1 = $('#log_hours_number').val();
    //alert(hiddenInput1);
    hiddenInput = $('<input/>',{type:'hidden',id:this.value, name:'log_hours', value:hiddenInput1});
    $("#hidden_input").append(hiddenInput);
  });
});
</script>
