<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<div class="rightdiv">
  <div class="col-sm-6">
    <h3 style="text-align:center;color:#384d8c ">Admin List</h3>
    <%= form_for('mailalert') do |f|%>
    <%= f.label :Name,:style=>"font-size:20px;color:#384d8c"%>
    <%= f.text_field :adminlist,name: 'admintext',data: {autocomplete_source: settingsc_retrieve_path,method: :get},:class=>"textbox",:required => true%>
    <%= f.submit :adminadd,name: "adminadd",value: "Add",:class=>"button"%>
    <%= f.submit :admindel,name: "admindel",value: "Delete",:class=>"button"%>
    <% end%>
    <% if flash[:adminad] %>
    <script>alert("You can add only the redmine users");</script>
    <%flash[:adminad]=nil%>
    <% elsif flash[:adminde] %>
    <script>alert("You can delete only the already added admin users");</script>
    <%flash[:adminde]=nil%>
    <% elsif flash[:userad] %>
    <script>alert("You can add only the redmine users");</script>
    <%flash[:userad]=nil%>
    <% elsif flash[:userde] %>
    <script>alert("You can delete only the already added admin users");</script>
    <%flash[:userde]=nil%>
    <%end%>
    <% if @admin.length==0%>
    <h3>No Admins added</h3>
    <% else %>
    <div class="scrol">
      <table style="margin-top:0px">
        <% @admin.each do |item|%>
        <tr>
          <td ><%= item["Name"]%></td>
        </tr>
        <% end%>
      </table>
    </div>
    <%end%>

  </div>
  <div class="col-sm-6">
    <h3 style="text-align:center;color:#384d8c ">Mail Exclusion List</h3>
    <%= form_for('mailalert') do |f|%>
    <%= f.label :Name,:style=>"font-size:20px;color:#384d8c"%>
    <%= f.text_field :excluList,name: 'exclutext',data: {autocomplete_source: settingsc_retrieve_path,method: :get},:class=>"textbox",:required => true%>
    <%= f.submit :excluadd,name: "excluadd",value: "Add",:class=>"button"%>
    <%= f.submit :excludel,name: "excludel",value: "Delete",:class=>"button"%>
    <% end%>
    <% if @exclu.length==0%>
    <h3>No Users are Excluded</h3>
    <% else %>
    <div class="scrol">
      <table style="margin-top:0px">
        <% @exclu.each do |item|%>
        <tr>
          <td ><%= item["Name"]%></td>
        </tr>
        <% end%>
      </table>
    </div>
    <%end%>
  </div>

</div>
<style media="screen">
td{
  font-size: 20px;
}
table ,tr, td{
  border:0;
}

</style>
