<div class="rightdiv" >
  <% if flash[:alert] %>
  <div class="alertbox">
    <span class="alerttext"><%= flash[:alert] %></span>
    <%flash[:alert]=nil%>
  </div>
  <% else%>
  <dl>
    <dt>PR Status</dt>
    <dd>The table retrieves pending pull requests which are waiting to be merged.  </dd>
  </dl>
  <table id="sorter">
    <tr>
      <th class="nosort">ID</th>
      <th>PR ID</th>
      <th>Updated ON (days ago)</th>
      <th class="nosort">Description</th>
      <th>Respository</th>
      <th>Branch</th>
    </tr>
    <%@hash.each do |key, value|%>
    <tr>
      <% @hash[key].each do |x,y|%>
      <td >  <%= y %> </td>
      <%end%>
    </tr>
    <%end%>

  </table>
  <%end%>
  <script>
  var sorter=new table.sorter("sorter");
  sorter.init("sorter",1);

  </script>
</div>
<style>
th{
  background-color: #384d8c;
  color: white;
  border-color: white;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}
.nosort {
  cursor: default;
}

</style>
