
<div class="alert alert-dismissible alert-danger" style="width:100%;text-align:center">
  <div id="flash_alert">You need to sign in before continuing.</div>
</div>
</div>
<div class="authform" style="">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
  <h3>Sign in</h3>
  <%= devise_error_messages! %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <%= f.submit 'Sign in', :class => 'button' ,:style=>"margin-left:203px;height:30px;padding-top:4px"%>
  <%= link_to "Cancel", root_path,:class=>"button",:style=>"text-decoration:none;margin-left:10px"%>
  <%= link_to "Change your password", edit_devop_user_registration_path %>
  <% end %>
</div>
