
<div class="rightdiv">
  <% if flash[:alert] %>
  <div class="alertbox">
    <span class="alerttext"><%= flash[:alert] %></span>
    <%flash[:alert]=nil%>
  </div>
  <% else%>
  <dl>
    <dt>Dashboard</dt>
  </dl>
  <%= form_for("dashboard") do |f|%>
  <div style="padding-left:30px">
    <%=f.label :From %>
    <%= f.text_field(:updatef,name: 'updatef', :class => "textbox",id:"updatef", :required=>true) %>
    <%=f.label :To %>
    <%= f.text_field(:updatet,name: 'updatet' , :class => "textbox",id:"updatet", :required=>true) %>
    <%= f.submit "Apply", :id => "button1", :class => "button"%>
    <div id="hidden_input"></div>

  </div>
  <%end%>
  <table>
    <thead>
      <th>Assignee</th>
      <th>Ready</th>
      <th>In Progress</th>
      <th>For Verification</th>
      <th>Done</th>
      <th>Waiting</th>
      <th>Feedback</th>
    </thead>
    <% @db.each do |key,item| %>
    <tr>
      <td><%= item["Assignee"]%></td>
      <td><%= item["rep"]%></td>
      <td><%= item["ipp"]%></td>
      <td><%= item["vep"]%></td>
      <td><%= item["dop"]%></td>
      <td><%= item["wap"]%></td>
      <td><%= item["fep"]%></td>
    </tr>
    <% end %>
  </table>
  <% end %>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $('#updatef').datepicker({
    format: 'dd M yyyy',
    autoclose: true,
    onSelect: function(selected) {
      console.log(selected)
      $("#updatet").datepicker("option","minDate", selected);
    }
  });

  $('#updatet').datepicker({
    format: 'dd M yyyy',
    autoclose: true,
    onSelect: function(selected) {
      console.log(selected)
      $("#updatef").datepicker("option","maxDate", selected);
    }
  });

})

</script>
