<div class="rightdiv">
  <% if flash[:alert] %>
  <div class="alertbox">
    <span class="alerttext"><%= flash[:alert] %></span>
    <%flash[:alert]=nil%>
  </div>
  <% else%>
  <dl>
    <dt>Build Status</dt>
    <dd>This will show the state of Build if completed or in other State with State transition Time</dd>
  </dl>
  <% js= Array.new() %>
  <% i=0 %>
  <% @jso.each do |item|%>
  <% js[i] = item["result"] %>
  <% i+=1 %>
  <% end %>

  <% js.uniq! %>
  <%= form_for("gocdstatus", method: "post") do |f|%>
  <div style="padding-left:30px">
    <label for="">Result</label>
    <select id="result" class="textbox1">
      <option value="0" selected="selected">none</option>
      <% js.each do |item| %>
      <option value="<%= item %>"><%= item %></option>
      <%end%>
    </select>

    <%= f.submit "Apply", :id => "button1", :class => "button"%>
    <div id="hidden_input"></div>

  </div>
  <%end%>
  <table id="myTable">
    <thead>
      <th>Pipeline Id</th>
      <th>Pipiline</th>
      <th onclick="sortTable(2)" class="cursor">Created Time</th>
      <th>Build Result</th>
      <th>Build ID</th>
      <th>State of Build</th>
      <th onclick="sortTable(6)" class="cursor">Transition Time</th>
    </thead>
    <% if @trac == "0" %>
    <% @jso.each do |item|%>
    <tr>
      <td><%= item["id"]%></td>
      <td><%= item["pipeline_name"]%></td>
      <td><%= Time.at(item["scheduled_date"]/1000)%></td>
      <td><%= item["result"]%></td>
      <td><%= item["job_state_transitions"].last["id"]%></td>
      <td><%= item["job_state_transitions"].last["state"]%></td>
      <td><%= Time.at(item["job_state_transitions"].last["state_change_time"]/1000)%></td>
    </tr>
    <%end%>
    <%  else %>
    <%  @jso.each do |item|%>
    <%  if (item["result"] == @trac) %>
    <tr>
      <td><%= item["id"]%></td>
      <td><%= item["pipeline_name"]%></td>
      <td><%= Time.at(item["scheduled_date"]/1000)%></td>
      <td><%= item["result"]%></td>
      <td><%= item["job_state_transitions"].last["id"]%></td>
      <td><%= item["job_state_transitions"].last["state"]%></td>
      <td><%= Time.at(item["job_state_transitions"].last["state_change_time"]/1000)%></td>
    </tr>
    <%end%>
    <%end%>
    <%end%>
  </table>
  <%end%>
</div>


<script>
$(document).ready(function(){
  var hiddenInput1;
  var hiddenInput;

  $('#button1').click(function(){
    hiddenInput1 = $('#result :selected').val();
    hiddenInput = $('<input/>',{type:'hidden',id:this.value, name:'result', value:hiddenInput1});
    $("#hidden_input").append(hiddenInput);
  });
});
</script>
