<div class="rightdiv">
  <% if flash[:alert] %>
  <div class="alertbox">
    <span class="alerttext"><%= flash[:alert] %></span>
    <%flash[:alert]=nil%>
  </div>
  <% else%>
  <dl>
    <dt>Build Update</dt>
    <dd>This will show the Update in each Label for one Build With the reason for Result</dd>
  </dl>
  <% js= Array.new() %>
  <% i=0 %>
  <% @ans.each do |item|%>
  <%item.each do |item1|%>
  <% js[i] = item1["stages"][0]["result"] %>
  <% i+=1 %>
  <% end %>
  <% end %>

  <% js.uniq! %>
  <%= form_for("gocdstatus", method: "post") do |f|%>
  <div style="padding-left:30px">
    <label for="">Result</label>
    <select id="result" class="textbox1">
      <option value="0" selected="selected">none</option>
      <% js.each do |item| %>
      <option value="<%= item %>"><%= item %></option>
      <%end%>
    </select>

    <%= f.submit "Apply", :id => "button1", :class => "button"%>
    <div id="hidden_input"></div>

  </div>
  <%end%>
  <table id="myTable">
    <thead>
      <th>Pipeline Name</th>
      <th onclick="sortTable(1)" class="cursor">Created Time</th>
      <th>Result</th>
      <th>Lable Id</th>
      <th>Lable No</th>
      <th onclick="sortTable(5)" class="cursor">Last Modified Time</th>
      <th>Trigger message</th>
      <th>Description</th>
    </thead>
    <%i=0%>
    <% if @trac == "0" %>
    <%@ans.each do |item|%>
    <%item.each do |item1|%>
    <tr>
      <td ><%= item1["name"]%></td>
      <td ><%= Time.at(item1["stages"][0]["jobs"][0]["scheduled_date"]/1000)%></td>
      <td><%= item1["stages"][0]["result"]%></td>
      <td ><%= item1["stages"][0]["id"]%></td>
      <td><%= item1["label"]%></td>
      <td><%= Time.at(item1["build_cause"]["material_revisions"][0]["modifications"][0]["modified_time"]/1000)%></td>
      <td><%= item1["build_cause"]["trigger_message"]%></td>
      <td><%= item1["build_cause"]["material_revisions"][0]["material"]["description"]%></td>
    </tr>
    <%end%>
    <%end%>
    <%else%>
    <%@ans.each do |item|%>
    <%item.each do |item1|%>
    <%  if (item1["stages"][0]["result"] == @trac) %>
    <tr>
      <td ><%= item1["name"]%></td>
      <td ><%= Time.at(item1["stages"][0]["jobs"][0]["scheduled_date"]/1000)%></td>
      <td><%= item1["stages"][0]["result"]%></td>
      <td ><%= item1["stages"][0]["id"]%></td>
      <td><%= item1["label"]%></td>
      <td><%= Time.at(item1["build_cause"]["material_revisions"][0]["modifications"][0]["modified_time"]/1000)%></td>
      <td><%= item1["build_cause"]["trigger_message"]%></td>
      <td><%= item1["build_cause"]["material_revisions"][0]["material"]["description"]%></td>
    </tr>
    <%end%>
    <%end%>
    <%end%>
    <%end%>
  </table>
  <%end%>
</div>

<script>
$(document).ready(function(){
  var hiddenInput1;
  var hiddenInput;

  $('#button1').click(function(){
    hiddenInput1 = $('#result :selected').val();
    hiddenInput = $('<input/>',{type:'hidden',id:this.value, name:'result', value:hiddenInput1});
    $("#hidden_input").append(hiddenInput);
  });
});
</script>
