
<div class="rightdiv col-sm 8">
  <div id="calendar">
    <%= form_for("organization", method: "post") do |f|%>
    <div class="edit-button">
      <input type="button" class = "button" id="edit" value="Edit">
      <%= f.submit "Save", :onclick=>"$(':checkbox').attr('disabled',true);", :class => "button"%>

    </div>
    <%= month_calendar do |dte|%>
    <% flag = false %>
    <% @check.each do |it| %>
    <%if(it == String(dte))%>
    <% flag = true%>
    <% end%>
    <%end%>
    <%= f.check_box :date, {:multiple => true, :class => "checkbox", :disabled => true, :checked => flag,:style=>"float:left;padding-top:20px"}, dte, nil  %>
    <div style="padding:10px;font-size:30px;text-align:center">
      <%= String(dte).reverse[0..1].reverse  %>
      <% end %>
      <div id="hidden_input"></div>
      <%end%>
    </div>
  </div>

  <script type="text/javascript">
  $( document ).ready(function() {
    var hiddenInput;
    $('.checkbox').change(function() {
      if(this.checked) {
        hiddenInput = $('<input/>',{type:'hidden',id:this.value, name:'organization[]', value:this.value});
        $("#hidden_input").append(hiddenInput);
        $("#a" + this.value).remove();
      }
      else {
        $("#" + this.value).remove();
        hiddenInput = $('<input/>',{type:'hidden',id:"a"+this.value, name:'organization[]', value:"a"+this.value});
        $("#hidden_input").append(hiddenInput);
      }
    });

    $('#edit').click(function(){
      //alert($("td").hasClass("future"));
      $("td").each(function() {
        if(!$(this).hasClass("past")) {
          $(this).find(':first-child').removeAttr('disabled');
        }
      });
    });

  });
  </script>
