
<div class="rightdiv">
  <% if flash[:alert] %>
  <div class="alertbox">
    <span class="alerttext"><%= flash[:alert] %></span>
    <%flash[:alert]=nil%>
  </div>
  <% else%>
  <dl>
    <dt>Verification Issues</dt>
    <dd>The table lists the issues that are in verification stages</dd>
  </dl>

  <%= form_for("verification", method: "post") do |f|%>
  <div style="padding-left:30px">
    <label for="">Tracker</label>
    <select id="tracker" class="textbox1">
      <option value="0" selected="selected">none</option>
      <% @t.each do |item| %>
      <option value="<%=item["id"]%>"><%= item["name"] %></option>
      <%end%>
    </select>

    <%= f.submit "Apply", :id => "button1", :class => "button"%>
    <div id="hidden_input"></div>

  </div>
  <%end%>

  <table>
    <thead>
      <th>Id</th>
      <th>Project</th>
      <th>Tracker</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Subject</th>
      <th>Assignee</th>
      <th>Updated</th>
    </thead>
    <% @d.each do |item| %>
    <tr>
      <td><%= item["id"]%></td>
      <td><%= item["project"]["name"]%></td>
      <td><%= item["tracker"]["name"]%></td>
      <td><%= item["status"]["name"]%></td>
      <td><%= item["priority"]["name"]%></td>
      <td><%= item["subject"]%></td>
      <td><%= item["assigned_to"]["name"]%></td>
      <td><%= item["updated_on"]%></td>
    </tr>
    <% end %>
  </table>
  <%end%>
</div>

<script>
$(document).ready(function(){
  var hiddenInput1;
  var hiddenInput;

  $('#button1').click(function(){
    hiddenInput1 = $('#tracker :selected').val();
    hiddenInput = $('<input/>',{type:'hidden',id:this.value, name:'tracker', value:hiddenInput1});
    $("#hidden_input").append(hiddenInput);
  });
});
</script>
