<html>
<head>
<style>
p {
  padding-left: 30px;
}
</style>
</head>
<body>
  Hi <%= @firstname+" "+@lastname %>,
  <p>You have not logged in Redmine on <%= Date.today.to_s%></p>
  Regards,<br>
  Appranix Team
</body>
</html>
