/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require jquery-ui/datepicker
*= require simple_calendar
*/
.authform {
  padding-top: 30px;
  max-width: 450px;
  margin: 0 auto;
  align-content: center;
  border:1px solid #e3e3e3;
  padding:20px;
  background-color:#f5f5f5;
  border-radius:10px;
  margin-top:50px
}

.menubar                                  /*menu bar*/
{
  background-color:#384d8c;
  height:43px;
  padding:11px 0px 11px 11px;
  width: 100% ;
}
#userpanel {
  float: right;
  padding-right: 20px;
  color: white;
}


.heading {                                         /*projheading*/
  margin-top: 2px;
  padding-left:15px;
  color:white;
}
ul {
  list-style:none;
  font-size:15px;
}


.arrow
{
  font-size:32px;
  color: #384d8c;

}
.arrow:hover
{
  text-decoration: none;
  color: #337ab7;
}


/**
* Demo Styles
*/

body {
  min-height: 100%;
  min-width: 1200px;
  background-color: #eee;
}
/**
* Footer Styles
*/
.footer {
  padding: 1rem;
  background-color: #384d8c ;
  text-align: center;

  color:white;
  height:43px;
}
.rightdiv
{
  background-color: white;
  width:100%;
  min-height:87.5vh;
  float:right;
}
dd{
  padding-left: 30px;
}
dt{
  padding-left:10px;
  color:#384d8c;
  font-size:20px;
}


.cursor {
  cursor: pointer;
}
