// Place all the styles related to the Employee controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.ui-autocomplete{
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  
  li{
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a{
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover,a.ui-state-active{
      background-color: #FFFCB2;
    }
  }
}
.textbox {
  width: 200px;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
  border: 1px solid #384d8c;
  border-radius: 4px;

}
.textbox1 {
  max-width: 200px;
  max-height: 70px;
  resize: none;
  padding: 6px 12px;
  line-height: 1.42857143;
  border: 1px solid #384d8c;
  border-radius: 4px;
}
.fix {
  width:40%;
}
label {
  text-align: right;
}
