.calendar-title {
  font-size: 25px;
  padding: 20px;
}
.calendar-heading {
  text-align: center;
  padding-top: 10px;
  color: #384d8c;

}
.prev-month {
  visibility: hidden;
}
.next-month {
  visibility: hidden;
}

.edit-button {
  float: right;
  margin: 10px;
}
.button {
  margin-left: 10px;
  background-color: #384d8c;
  color:white;
  width: 70px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}
