.alerttext
{
  color:red;
  font-size: 20px;
}
.alertbox
{
  width:500px;
  padding:20px;
  border-radius: 5px;
  border: 1px solid red;
  text-align: center;
  background-color: #ffe6e6;
  margin: 200px 0px 0px 300px;
}
