<!DOCTYPE html>
<html>
<head>
  <title>Devops PMS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>

  <div class="menubar">
    <div id="userpanel">
      <%= link_to "Login",new_devop_user_session_path,class: "#{'hidden' if devop_user_signed_in?}",disabled: true,:style=>"color:white" %>
      <%= link_to "Logout",destroy_devop_user_session_path , method: :delete,class: "#{'hidden' if !devop_user_signed_in?}",disabled: true,:style=>"color:white" %>
    </div>
    <h4 class="heading">DevOps PMS</h4>
  </div>
  <div class="ro">
    <div id="divMenu">
      <ul>
        <li><%= link_to "Home",root_path %>
        </li>
        <li><a href="#">Red Mine</a>
          <ul>
            <li><%= link_to "Waiting Issues" ,status_waiting_path %></li>
            <li><%= link_to "Verification Issues" ,status_verification_path  %></li>
            <li><%= link_to "Closed Issues" ,status_closed_path %></li>
            <li><%= link_to "Stagnated Issues" ,status_stagnated_path %></li>
          </ul></li>
          <li><a href="#">GoCD</a>
            <ul>
              <li ><%= link_to "Build status" ,status_GoCDStatus_path %><li>
                <li ><%=link_to "Build Update" ,status_GoCDUpdate_path %><li>
                </ul></li>
                <li><a href="#">Bit Bucket</a>
                  <ul>
                    <li><%= link_to "PR Request", bitbuc_prstatus_path%></li>
                  </ul></li>
                  <li>
                    <%= link_to "Settings","#",class: "#{'hidden' if !devop_user_signed_in?}",disabled: true,:style=>"color:#384d8c;display:visible" %>
                    <ul>
                      <li><%= link_to "Organization Leave", status_organization_path%></li>
                      <li><%= link_to "Employee Leave", employee_index_path %></li>
                      <li><%= link_to "Change Password", settingsc_Changepass_path %></li>
                      <li><%= link_to "Mail Alert", settingsc_mailalert_path %></li>
                      <li><%= link_to "Filter Stagnated", settingsc_filter_path %></li>
                    </ul>
                  </li>
                </ul>
              </div>

              <%= yield %>
            </div>
            <footer class="footer">
              <div>
                <p>copyright<i class="fa fa-copyright"></i>appranix.com</p>
              </div>
            </footer>
          </body>
          </html>
